name: Security Checks

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: ComponentGovernanceComponentDetection@0
  inputs:
    scanType: 'Register'
    verbosity: 'Verbose'
    alertWarningLevel: 'High'

- task: CredScan@3
  inputs:
    outputFormat: sarif
    debugMode: false

